# Ignore Git
/.git/
/.gitignore

# Ignore venv
/venv/

# Ignore IDE files
/.vscode/

# Ignore tests and python temp files
.pytest_cache/
__pycache__/
*.py[cod]
*~

# Ignore deploy files
/deploy/
/Makefile

# Ignore markdown files
*.md

# Ignore logs files
*.log